@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: Barlow Semi Condensed;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537 100%);
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px 32px 56px 32px;
}

@media screen and (min-width: 768px) {
  body > div {
    padding: 32px 480px 76px 480px;
  }
}
